/* 
245,128,34 / #F58022
29,118,188 / #1D76BC
13,5,47 / #0D052F
5,55,85 / #003755
*/

section {
    padding: 60px 0;
}

ul {
    list-style: none;
    margin: 0;
}

#button {
    display: inline-block;
    background-color: #f58022;
    width: 35px;
    height: 35px;
    text-align: center;
    border-radius: 4px;
    position: fixed;
    bottom: 30px;
    right: 30px;
    transition: background-color .3s, 
      opacity .5s, visibility .5s;
    opacity: 0;
    visibility: hidden;
    z-index: 1000;
  }
  #button {
    font-size: 2em;
    line-height: 35px;
    color: #fff;
  }
  #button:hover {
    cursor: pointer;
    background-color: #333;
  }
  #button:active {
    background-color: #555;
  }
  #button.show {
    opacity: 1;
    visibility: visible;
  }


/* Header */

/* Header Top */
.header-top {
    border-bottom: 2px solid #F58022;
}

.header-top ul {
    list-style: none;
    margin: 0;
}

.header-top .navTop-left ul li{
    font-size: .8em;
    padding-right: 4px;
}

.header-top .navTop-left ul li a {
    color: inherit;
    text-decoration: inherit;
}

.header-top .navTop-left ul li i{
    padding-right: 4px;
}

.header-top .navTop-left ul li a:hover {
    color: #f58022 !important;
}

.header-top .navTop-right ul li{
    font-size: 1em;
    margin-right: 8px;
    width: 30px;
    text-align: center;
    transition: background-color 650ms;
}

.header-top .navTop-right ul li:hover i{
    color: #fff !important;
}

.header-top .navTop-right ul li.facebook-icon:hover {
    background-color: #1877f2;
}

.header-top .navTop-right ul li.twitter-icon:hover {
    background-color: #1da1f2;
}
.header-top .navTop-right ul li.instagram-icon:hover {
    background-color: #c32aa3;
}
.header-top .navTop-right ul li.youtube-icon:hover {
    background-color: #ff0000;
}
.header-top .navTop-right ul li.whatsaap-icon:hover {
    background-color: #25d366;
}


/* .header-top .row {
    display: flex;
    align-items: center;
    justify-content: space-around;
} */

/* NavBar */
.navbar-brand {
    width: 100%;
    max-width: 135px;
    transition: opacity 650ms;
}

.navbar-brand:hover {
    opacity: .8;
}

.carousel-icon {
    font-size: 25px;
    color: black;
    background-color:#fff;    
    padding: 4px;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    border: 2px solid #fff;
}

/* About Section */
.section-heading h4 {
    text-transform: uppercase;
    color: #101D2C;
    line-height: 0;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 300;
    letter-spacing: 1px;
}

.section-heading h1 {
    font-family: 'Courier New', Courier, monospace;
    color: #F58022;
}

.about .btn {
    width: 150px;
    color: #F58022 !important;
    border: 1px solid #F58022;
    transition: background-color 650ms;
}

.about .btn:hover {
    color: #fff !important;
    background-color: #F58022; /* #c69963*/
}

.overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    height: 100%;
    width: 95%;
    opacity: 0;
    background-color: rgba(13,5,47, 0.6);
    transition: 650ms ease-in;
}

.ctr {
    position: absolute;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.hovereft:hover .overlay {
    opacity: 1;
}


/* Footer */
footer {
    /* background-color: aqua; */
}

footer > .social-icons {
    background-color: #101D2C;
    border-bottom: 1px solid #f58022;
}


footer > .social-icons ul li{
    font-size: 1.2em;
    margin-right: 10px;
    background-color: #f58022;
    width:40px;
    text-align: center;
    border-radius: 50%;
    line-height: 40px;
    border: 1px solid #f58022;
    /* box-shadow: 1px 1px #f58022; */
    transition: background-color 650ms;
}

footer > .social-icons ul li:hover i {
    color: #f58022 !important;
}

footer > .social-icons ul li:hover {
    background-color: #fff;
}

footer > .footer-main .nav-footer ul li a {
    color: inherit;
    text-decoration: inherit;
}

footer > .footer-main .nav-footer ul li {
    padding-right: 25px;
}

footer > .footer-main .nav-footer ul li:hover {
    color: #f58022;
}

.address ul li {
    margin-bottom: 20px;
}

.address ul li i {
    margin-right: 10px;
    color: #f58022;
    font-size: 1.2em;
}

footer .contact-btn {
    width: 120px;
    color: #F58022 !important;
    border: 1px solid #F58022;
    transition: background-color 650ms;
}

footer .contact-btn:hover {
    color: #fff !important;
    background-color: #F58022;
}

/* -------------Contact Page------------- */
/* Map Section */
.map-container {
    overflow:hidden;
    /* padding-bottom:56.25%; */
    position:relative;
    height:0;
}
.map-container iframe {
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}

.contact-title {
    margin-bottom: 16px;
    padding-bottom: 8px;
    border-bottom: 1px solid #eee;
    font-weight: 300;
}

.contact-title span {
    padding-bottom: 8px;
    border-bottom: 1px solid #f58022;
    font-weight: 400;
}

h4 {
    font-size: 16px;
    line-height: 22px;
}

.contact-main {
    width: 150px;
    color: #fff !important;
    background-color: #F58022;
}


/* Media Query */
@media (min-width: 992px) {

    /* NavBar */
    .nav-item {
        margin: 0 10px;
    }
    
    .nav-item:last-child {
        margin-right: 0;
    }
    
    .nav-link, .active .nav-link {
        position: relative;
        padding: 0;
    }
    
    .nav-link::before {
        content: "";
        position: absolute;
        left: 0;
        bottom: -3px;
        background-color: #F58022; /*c69963*/
        width: 100%;
        height: 2px;
        transform: scaleX(0);
        transform-origin: center;
        transition: transform 650ms;
    }
    
    .nav-link:hover::before{
        transform: scaleX(1);
    }

    /* .nav-item.active .nav-link::before {
        transform: inherit;
    } */
    
}